body {
  font-family: Arial;
  font-size: 12px;
  padding: 0;
  margin: 0;
  display: flex;
}
dl, dd, ul, ol {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
input[type=range] {
  width: 230px;
  margin: 5px 10px 0 0;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.range_label {
  display: inline-block;
  top: -3px;
  position: relative;
}
.colors {
  margin: 2px;
}
.colors li {
  position: relative;
  height: 40px;
  width: 80px;
  display: inline-block;
  border: 1px solid #EEE;
  cursor: move;
  box-sizing: border-box;
}
.syncing.colors li {
  cursor: pointer;
}
.colors li.dragging .copy {
  opacity: 0;
}
.colors .selected {
  border: 1px solid #000;
}
.profile {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  margin-right: 2px;
}
.side {
  width: 198px;
  background: #FFF;
  position: fixed;
  float: left;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-right: 1px solid #AAA;
}
.main {
  overflow-y: scroll;
  max-height:100%;
  box-sizing: border-box;
  width: 100%;
}
.tabs {
  background: #E7E7E7;
  padding: 3px 5px 0;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #AAA;
  border-left: 1px solid #AAA;
}
.main .tabs {
  padding-left: 22px;
}
.tabs li {
  display: inline-block;
  padding: 3px 5px;
  margin-bottom: -1px;
}
.tabs a {
  color: #242C41;
  text-decoration: none;
}
.tabs .selected {
  background: #FFF;
  border: 1px solid #AAA;
}
#tab_content {
  margin-top: 25px;
  padding: 10px;
  box-sizing: border-box;
}
.swatch {
  width: 100%;
  height: 100%;
}
.profile .formats {
  position: absolute;
  bottom: 32px;
  left: 0;
  width: 197px;
  height: 70px;
  background: rgba(255,255,255, 0.7);
}
.profile dl {
  padding: 5px 8px;
}
.profile dt {
  display: inline-block;
  width: 40px;
}
.profile dd {
  display: inline-block;
  width: 100%;
}
.profile dt, .profile dd {
  padding: 3px 0;
}
.copy {
  font-size: 14px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-decoration: none;
  color: #EEE;
  opacity: 0;
  background: rgba(255,255,255, 0.3);
  padding: 2px;
}
li:hover .copy {
  opacity: 1;
}
.copy:hover {
  color: #FFF;
}
.range_controls {
  position: fixed;
  bottom: 0px;
  background: #E6E6E6;
  padding: 5px 10px 7px;
  right: 0px;
  left: 401px;
}
.collapsed_page_colors .range_controls {
  left: 198px;
}
input.steps {
  width: 85%;
}
.color_picker {
  position: absolute;
  right: 10px;
  top: 5px;
}
.palette {
  margin-bottom: 5px;
}
.palette_instructions {
  margin: 12px 10px 0px;
  font-size: 11px;
  color: #444;
}
.palette li {
  display: inline-block;
}
.palette a {
  display: block;
  width: 20px;
  height: 20px;
}
.palette_controls {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #CCC;
  position: fixed;
  top: 0;
  width: 190px;
  background: #FFF;
  z-index: 10;
}
.palette_controls .reload {
  float: right;
}
.color_inputs {
  position: fixed;
  bottom: 0px;
  padding: 4px 8px 3px;
  width: 181px;
  background: #E6E6E6;
  border-top: 1px solid #AAA;
}
.color_inputs input[type=text] {
  width: 120px;
  font-size: 12px;
}
.middle {
  width: 295px;
  height: 100%;
  position: relative;
  border-right: 1px solid #AAA;
}
.padding {
  margin-left: 198px;
}
.collapsed_page_colors .middle {
  display: none;
}
.middle .range_colors {
  padding: 10px;
}
.middle .range_colors li {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.middle .range_colors li:hover a.copy {
  display: none;
}
.fetch_colors {
  position: absolute;
  right: 10px;
  top: 7px;
  z-index: 13;
  color: #000;
  font-size: 11px;
}
.copy_controls {
  position: absolute;
  top: -2px;
  right: 10px;
  z-index: 20;
}
.end_color {
  display: inline-block;
  width: 20px;
  height: 14px;
  margin: 0 5px;
  border: 1px solid #000;
  vertical-align: middle;
}
.heading {
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
  padding-bottom: 10px;
  font-size: 11px;
  position: relative;
}
@-webkit-keyframes flash_once {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes flash_once {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.flash_once {
  -webkit-animation-name: flash_once;
  animation-name: flash_once;
}
.tab_header {
  position: fixed;
  width: 100%;
  top: 0;
}
.collapse, .expand {
  width: 17px;
  height: 14px;
  display: block;
  top: 5px;
  left: 3px;
  z-index: 20;
  position: absolute;
}
.collapse {
  background: url(../images/collapse.png);
}
.expand {
  background: url(../images/expand.png);
}
